* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: tomato;
    width: 100vw;
    height: 100vh;
}

.text-container{
    width: 700px;
    height: 700px;
    border: 4px solid white;
    padding: 80px;
    padding-top: 80px;
    background: white;
    border-radius: 20%;
    -webkit-box-shadow: 5px 5px 21px 5px orangered; 
    box-shadow: 5px 5px 21px 5px orangered;
    text-align: center;  
}

.text-container h1 { 
    color: navy;
    margin-bottom: 15px;
    font-size: 40px;
}

.text-container li {
    font-weight:300;
    color: dodgerblue;
    margin-bottom: 40px;
    font-size: 25px;
}

.text-container p {
    font-weight:300;
    color: dodgerblue;
    font-size: 25px;
    text-align: left;
}

